<div class="">
    <div class="d-flex flex-column flex-lg-row  align-items-center justify-content-center justify-content-lg-start">
        <div>
            <label for="file" class="rounded-pill position-relative">
                <img src="assets/images/profile-icon.svg" alt="profile image" class="img-fluid">
                <i class="fas fa-camera profile-icon-camera position-absolute"></i>
            </label>
            <input type="file" class="d-none" id="file">
        </div>
        <div class="pl-3">
            <div class="fw-semibold pb-2"> {{ currentUserProfile.name }}</div>
            <div class="fs-14 text-capitalize">
                Joined: <span> {{ currentUserProfile.created_at ? (currentUserProfile.created_at | date: 'MMM d, y') :
                    'N/A' }}</span>
            </div>
            <div class="fs-14 text-capitalize">
                Address: <span> {{ currentUserProfile.location || "N/A" }}</span>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-2">
        <a class="text-center">
            <p class="m-0">4</p>
            <p>Bought</p>
        </a>
        <a class="text-center">
            <p class="m-0">4</p>
            <p>Sold</p>
        </a>
        <a class="text-center">
            <p class="m-0">0</p>
            <p>Followers</p>
        </a>
        <a class="text-center">
            <p class="m-0">0</p>
            <p>Followings</p>
        </a>
    </div>
</div>