<main class="mt-16">
  <section class="container-fluid pt-4">
    <div *ngIf="!cartItems.length" class="my-5 pb-5">
      <h2 class="fs-24">Shopping Cart</h2>
      <p class="text-center fw-medium fs-20 mb-4 pt-5">You don't have any items in your cart. Let's get shopping!</p>
      <a routerLink="/" class="fs-20 text-decoration-none bg-yellow-800 text-dark rounded-pill start-spbtn mx-auto d-block mb-5">
        Start shopping
      </a>
    </div>

    <div *ngIf="cartItems.length">
      <h2 class="pb-3 fs-24">Shopping Cart</h2>
      <div class="d-flex align-items-center mb-4">
        <input type="checkbox" [(ngModel)]="checkAll" (change)="toggleSelectAll()" />
        <span class="ml-1 fs-14">Select All</span>
      </div>

      <div class="d-flex flex-column flex-md-row justify-content-between w-100">
        <!-- Cart Items -->
        <div class="flex-grow-1 pr-md-3">
          <div *ngFor="let item of cartItems" class="cart-item mb-3">
            <div class="item-details w-100">
              <div class="item-header d-flex justify-content-between">
                <div class="d-flex">
                  <img
                    *ngIf="item.product?.image_path?.src"
                    [src]="item.product.image_path.src"
                    alt="Product Image"
                    class="seller-image"
                  />
                  <div>
                    <span class="product-title d-block">{{ item.product.title }}</span>
                    <span class="text-yellow-800 d-block">★★★★★</span>
                  </div>
                </div>
              </div>

              <div class="d-flex justify-content-between mt-3">
                <input type="checkbox" [(ngModel)]="item.selected" />
                <div>
                  <select [(ngModel)]="item.qty" (change)="calculateTotal()">
                    <option *ngFor="let qty of quantities" [value]="qty">{{ qty }}</option>
                  </select>
                </div>
                <span>{{ item.product.fix_price | currency: 'AED' }}</span>
              </div>

              <div class="text-right w-100">
                <button (click)="buyNow(item)" class="btn" >Buy Now</button>
                <button (click)="saveForLater(item)" class="btn">Save for Later</button>
                <button (click)="removeItem(item)" class="btn">Remove</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Cart Summary -->
        <div class="cart-summary">
          <div class="d-flex justify-content-between">
            <span>Items ({{ totalLength }})</span>
            <span>AED {{ totalAmount }}</span>
          </div>
          <hr />
          <div class="d-flex justify-content-between mb-3">
            <span class="fs-20">Subtotal:</span>
            <span class="fs-20">AED {{ totalAmount }}</span>
          </div>
          <button mat-raised-button color="primary" (click)="goToCheckout()">Go to Checkout</button>
        </div>
      </div>
    </div>
  </section>
</main>
