<header class="pt-3 fixed-top bg-white">
    <nav class="border-b-1 pb-1">
        <div class="container-fluid">
            <div class="">
                <div class="d-flex justify-content-between position-relative">
                    <!-- left-list-start -->
                    <ul class="list-unstyled d-flex align-items-center flex-grow-1 pointer-default">
                        <!-- web-logo-start -->
                        <li class="xs-pl-16 mr-md-4 xs-mr-0">
                            <a routerLink="/body">
                                <img src="/assets/images/logo.svg" alt="App logo" loading="lazy" width="50"
                                    class="header-logo empty-search">
                            </a>
                        </li>
                        <!-- search-bar-start -->
                        <li
                            class="d-flex align-items-center flex-grow-1 search-bar position-relative{{showSearch?'show-search':''}}">
                            <!-- search-input -->
                            <input (input)="handleSearch($event)" type="text" placeholder="Search anything"
                                class="w-100 fs-18 border-1 not-hide" [value]="searchTerm" id="product_search">
                            <!-- search-btn -->
                            <button class="search-btn position-relative border-0 bg-dark-850 text-white prevent"
                                (click)="navigateToSearch()">
                                <!-- search-icon -->
                                <i class="fas fa-search fs-20 prevent"></i>
                            </button>
                            <ul *ngIf="searchTerm && !isSearched && suggestions.length"
                                class="suggestion-list position-absolute w-100 list-unstyled bg-white overflow-auto not-hide">
                                <li *ngFor="let item of suggestions" class="py-10 px-3 cur-pointer not-hide"
                                    (click)="handleSuggestion(item)">
                                    {{item.name}}
                                </li>
                            </ul>
                        </li>
                        <!-- search-icon-start -->
                        <li (click)="showSearchBar()" class="d-md-none cur-pointer">
                            <svg stroke="currentColor" class="fs-22" fill="currentColor" stroke-width="0"
                                viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path fill="none" stroke-miterlimit="10" stroke-width="32"
                                    d="M221.09 64a157.09 157.09 0 1 0 157.09 157.09A157.1 157.1 0 0 0 221.09 64z">
                                </path>
                                <path fill="none" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32"
                                    d="M338.29 338.29 448 448"></path>
                            </svg>
                        </li>
                        <li class="fs-14 d-flex align-items-center ml-2 text-slate-400 location-item">
                            <!-- <i class="fa fa-map-marker-alt fs-20 mr-2"></i> -->
                            <svg stroke="currentColor" class="fs-22 mr-1" fill="currentColor" stroke-width="0"
                                viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"
                                    d="M256 48c-79.5 0-144 61.39-144 137 0 87 96 224.87 131.25 272.49a15.77 15.77 0 0 0 25.5 0C304 409.89 400 272.07 400 185c0-75.61-64.5-137-144-137z">
                                </path>
                                <circle cx="256" cy="192" r="48" fill="none" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-width="32"></circle>
                            </svg>
                            {{ city }}
                        </li>
                    </ul>
                    <!-- right-list-start -->
                    <ul
                        class="list-unstyled d-flex align-items-center right-list flex-grow-2 justify-content-end pl-1 pl-md-3 fs-14 xs-pr-16">
                        <!-- saveItem-start -->
                        <li class="" style="cursor: pointer;">
                            <svg (click)="savedItems()" stroke="currentColor" class="fs-22" fill="currentColor"
                                stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"
                                    d="M352.92 80C288 80 256 144 256 144s-32-64-96.92-64c-52.76 0-94.54 44.14-95.08 96.81-1.1 109.33 86.73 187.08 183 252.42a16 16 0 0 0 18 0c96.26-65.34 184.09-143.09 183-252.42-.54-52.67-42.32-96.81-95.08-96.81z">
                                </path>
                            </svg>
                        </li>
                        <!-- chat-start -->
                        <li class="" style="cursor: pointer;">
                            <svg (click)="openChat()" stroke="currentColor" class="fs-22" fill="currentColor"
                                stroke-width="3" viewBox="0 0 256 256" height="1em" width="1em"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M166,104a6,6,0,0,1-6,6H96a6,6,0,0,1,0-12h64A6,6,0,0,1,166,104Zm-6,26H96a6,6,0,0,0,0,12h64a6,6,0,0,0,0-12Zm70-74V184a14,14,0,0,1-14,14H154.41L140.16,223a14,14,0,0,1-24.32,0L101.59,198H40a14,14,0,0,1-14-14V56A14,14,0,0,1,40,42H216A14,14,0,0,1,230,56Zm-12,0a2,2,0,0,0-2-2H40a2,2,0,0,0-2,2V184a2,2,0,0,0,2,2h65.07a6,6,0,0,1,5.21,3l16,28a2,2,0,0,0,3.48,0l16-28a6,6,0,0,1,5.21-3H216a2,2,0,0,0,2-2Z">
                                </path>
                            </svg>
                        </li>
                        <!-- notification-start -->
                        <li class="notification-container">
                            <!-- Cart Icon with Badge -->
                            <a (click)="goOnNotification()" class="text-decoration-none position-relative">
                                <svg stroke="currentColor" class="fs-22" fill="currentColor" stroke-width="0"
                                    viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M257 120.471c7.083 0 23.911 4.479 23.911 4.479 45.589 10.447 77.678 52.439 77.678 99.85V352.412l9.321 9.364 7.788 7.823H136.302l7.788-7.823 9.321-9.364V224.8c0-47.41 32.089-89.403 77.678-99.85 0 0 18.043-4.479 23.911-4.479M256 48c-17.602 0-31.059 13.518-31.059 31.2v14.559c-59.015 13.523-103.53 67.601-103.53 131.041v114.4L80 380.8v20.8h352v-20.8l-41.411-41.6V224.8c0-63.44-44.516-117.518-103.53-131.041V79.2c0-17.682-13.457-31.2-31.059-31.2zm41.411 374.4h-82.823c0 22.881 18.633 41.6 41.412 41.6s41.411-18.719 41.411-41.6z">
                                    </path>
                                </svg>
                                <span class="badge"
                                    *ngIf="unReadNotification.length > 0">{{unReadNotification.length}}</span>
                            </a>


                            <!-- Dropdown Cart Items *ngIf="cartItems.length > 0" -->
                            <div class="notification-dropdown p-3">
                                <div *ngIf="notificationList.length == 0" class="d-flex justify-content-center">
                                    <span>No Notification</span>
                                </div>
                                <h4 *ngIf="notificationList.length > 0">Notification</h4>
                                <div *ngIf="notificationList.length > 0">
                                    <div class="row">
                                        <div class="col-md-10 mx-auto main-cart-items">
                                            <div class="mt-3" *ngFor="let data of notificationList">
                                                <!-- routerLink="/review/{{ data.user_id }}" -->
                                                <a routerLink="/notification"
                                                    style="text-decoration: none; color: #1b2028" class="empty-search">
                                                    <div class="d-flex align-items-center">

                                                        <div class="mr-2">
                                                            @if(data.user?.img){
                                                            <div class=""
                                                                style="width:50px;height: 50px;border-radius: 50%;object-fit:contain">
                                                                <img src="{{ data.user?.img }}" class="w-100 h-100"
                                                                    alt="proile-img-notification"
                                                                    style="border-radius:50%" />
                                                            </div>
                                                            }@else{
                                                            <div
                                                                style="width:50px;height: 50px;border-radius: 50%;object-fit:contain">
                                                                <img src="/assets/images/profile-icon.svg"
                                                                    class="w-100 h-100" alt="Default Image"
                                                                    style="border-radius:50%" />
                                                            </div>
                                                            }
                                                        </div>

                                                        <div class="flex-grow-1">
                                                            <h5 class="sm-cat-text4 m-0">{{ data.text }}</h5>
                                                            <div class="mt-1 d-flex justify-content-between">
                                                                <span class="sm-cat-text3">{{
                                                                    data.status
                                                                    }}</span>
                                                                <span class="text-end sm-cat-text3"
                                                                    style="font-size: 10px">{{ data.created_at | date
                                                                    }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <hr />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- cart-start -->
                        <li class="cart-container position-relative">
                            <a (click)="gotoCart()" [routerLink]="['/cart']" class="text-decoration-none text-dark empty-search">
                            <svg stroke="currentColor" class="fs-22 text-dark" fill="currentColor" stroke-width="0"
                                viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg" >
                                <path
                                    d="M21.822 7.431A1 1 0 0 0 21 7H7.333L6.179 4.23A1.994 1.994 0 0 0 4.333 3H2v2h2.333l4.744 11.385A1 1 0 0 0 10 17h8c.417 0 .79-.259.937-.648l3-8a1 1 0 0 0-.115-.921zM17.307 15h-6.64l-2.5-6h11.39l-2.25 6z">
                                </path>
                                <circle cx="10.5" cy="19.5" r="1.5"></circle>
                                <circle cx="17.5" cy="19.5" r="1.5"></circle>
                            </svg>
                            <span class="badge" *ngIf="cartItems?.length">{{cartItems?.length }}</span>
                            <!-- Dropdown Cart Items -->
                            <div class="cart-dropdown overflow-auto" *ngIf="!isHideCart">
                                <div *ngIf="cartItems?.length == 0" class="d-flex justify-content-center p-3">
                                    <span>No Cart Item</span>
                                </div>
                                <div *ngIf="cartItems?.length > 0" class="p-3">
                                    <h5>Shopping Cart</h5>
                                    <p>Items you've selected</p>
                                    <div class="main-cart-items">
                                        <a [routerLink]="['/cart']" routerLinkActive="active text-decoration" class="mt-2">
                                            <div *ngFor="let item of (cartItems.slice(0,2))" class="cart-item">
                                                <img [src]="item.product.photo.url" alt="{{ item.product.name }}"
                                                    class="cart-item-image">
                                                <div class="cart-item-details">
                                                    <p>{{ item.product.title?.slice(1,25) + '...' }}</p>
                                                    <div class="d-flex justify-content-between">
                                                        <span>{{ item.product.fix_price |
                                                            currency:'AED':'symbol':'1.2-2' }}</span>
                                                        <span>Qty {{item.product.quantity}}</span>

                                                    </div>
                                                </div>
                                            </div>
                                            <span style="text-decoration: underline;">View cart</span> to see
                                            all of your items
                                        </a>
                                    </div>
                                </div>
                                <!-- <div *ngIf="cartItems?.length > 0" class="d-flex justify-content-between p-3"
                                    style="bottom: gray;">
                                    <span>Subtotal</span>
                                    <span>{{subTotal() | currency:'AED ':'symbol':'1.2-2' }}</span>
                                </div> -->
                            </div>
                        </a>
                        </li>

                        <!-- cart-end xs-d-none -->
                        <!-- <li class="">
                        <a (click)="openSelling()"
                            class="text-decoration-none  p-0 rounded-20 text-dark btn white-space-nowrap md-fs-12">
                            Sell
                        </a>
                    </li> -->
                        <!-- login-start -->
                        @if (!currentUser?.id) {
                        <li class="">
                            <a (click)="login()"
                                class="d-flex align-items-center justify-content-center white-space-nowrap  link">
                                Login
                            </a>
                        </li>
                        }
                        <!-- profile-start -->
                        @if (currentUser) {
                        <li class="user-profile cursor-pointer position-relative">
                            <button
                                class="padd-btn btn dropdown-toggle text-dark-400 fs-14 text-uppercase fw-semibold pr-0"
                                type="button" id="userDropdown" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <img class="user-Profile" [src]="
                              imgUrl
                                ? imgUrl
                                : '/assets/images/profile-icon.svg'
                            " loading="lazy" width="42" height="42" class="rounded-pill border-1" />
                                <img src="/assets/images/icons/angleDown.svg" alt="angle down" class="ml-1"
                                    loading="lazy">
                            </button>
                            <div class="dropdown-menu white-space-nowrap p-0 bg-white user-profile-drow-donw shadow-md"
                                aria-labelledby="userDropdown">
                                <a routerLink="/profilePage/{{currentUser.id}}"
                                    class="text-dark-400 text-decoration-none hover-able py-2 fs-14 px-2 d-flex align-items-center w-100 empty-search">
                                    <i class="fas fa-user fs-20 text-center d-block mr-2 empty-search"></i>
                                    <span class="empty-search fs-18">
                                        Profile
                                    </span>
                                </a>
                                <div *ngFor="let item of sideBarItemss" class="mt-0 d-lg-none d-block">
                                    <h4 class="fs-19 text-dark-800 fw-bold my-2 pl-1">{{ item.title }}</h4>
                                    <!-- start menu items -->
                                    <div class="d-flex flex-column  menus">
                                        <a class="menu d-block rounded text-dark-400 px-2 py-2 text-decoration-none fs-18 mb-1"
                                            *ngFor="let menu of item.items" routerLink="{{menu.routerLink}}"
                                            routerLinkActive="bg-yellow-800 " [routerLinkActiveOptions]="{ exact: true }"
                                            [ngStyle]="activeRoute && menu.id ==='purchasesSales' ? { 'background': '#ffae15' } : {}">
                    
                                            <i [class]="menu.icon" class="fs-20 mr-2"></i>
                                            <span>{{ menu.label }}</span>
                                        </a>
                                    </div>
                                    <!-- end menu items -->
                                </div>
                                <span (click)="logout()"
                                    class="text-dark-400 text-decoration-none hover-able py-2 fs-14 px-2 d-flex align-items-center w-100 empty-search">
                                    <i class="fas fa-sign-out-alt fs-20 mr-2 text-center d-block mdc-layout-grid__cell--span-12-desktop empty-search"></i>
                                    <span class="empty-search fs-18">
                                        Logout
                                    </span>
                                </span>
                            </div>
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- category-start -->
    <nav class="container-fluid">
        <div class="">
            @if(!loading){
            <ul class="list-unstyled d-flex align-items-center justify-content-center fs-14 w-100 mb-0 categories">
                <li *ngFor="let category of categories.slice(0, categoryLimit)" class="py-2"
                    (click)="handleFilter({'category_id':category.id,'slug':category.slug})">
                    <a [routerLink]="['/category',category.slug+ '-' +category.id ]" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="empty-search category-color text-decoration-none">
                        {{category.name}}
                    </a>

                </li>
                <li class="position-relative catagory-parent cate" *ngIf="categories.slice(categoryLimit).length">
                    <div class="dropdown pb-0 cate">
                        <button class="btn dropdown-toggle py-0 fs-14 text-uppercase fw-semibold category-color cate"
                            type="button" id="moreCategoriesDropdown" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            more categories
                        </button>
                        <div class="dropdown-menu white-space-nowrap pb-0 right-0 shadow-md rounded-0 empty-search"
                            aria-labelledby="moreCategoriesDropdown">
                            <a *ngFor="let category of categories.slice(categoryLimit)"
                                (click)="handleFilter({'category_id':category.id,'slug':category.slug})"
                                [routerLink]="['/category',category.slug+ '-' +category.id ]" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }"
                                class="empty-search category-color text-decoration-none hover-able py-2 fs-14 px-3 d-block w-100">{{category.name}}</a>
                        </div>
                    </div>
                </li>
            </ul>
            }
        </div>
    </nav>
    <app-login-modal></app-login-modal>
</header>