@if (tempToken) {
<header class="pt-3 fixed-top bg-white">
    <nav class="border-b-1 pb-1">
        <div class="container-fluid">
            <div class="d-flex justify-content-between position-relative  mx-auto">
                <ul class="list-unstyled d-flex align-items-center flex-grow-1 pointer-default">
                    <li class="xs-pl-16 mr-4 xs-mr-0"><a routerLink="/body"><img src="/assets/images/LOGO.png"
                                alt="App logo" loading="lazy" width="50" class="header-logo"></a></li>
                    <li class="d-flex align-items-center flex-grow-1 search-bar {{showSearch?'show-search':''}}">
                        <input type="text" placeholder="Search" class="w-100 fs-18 border-1">
                        <button class="search-btn position-relative border-0 bg-dark-850 text-white"><i
                                class="fas fa-search"></i></button>
                    </li>
                    <li class="d-xl-none">
                        <button class="search-btn position-relative border-0 p-0 pt-1 bg-transparent text-white"
                            (click)="showSearchBar()"><i class="fas fa-search fs-20 text-slate-400"></i></button>
                    </li>
                    <li class="fs-14 d-flex align-items-center ml-2 text-slate-400 location-item">
                        <i class="fa fa-map-marker-alt fs-20 mr-2"></i>
                        Belarus
                    </li>
                </ul>
                <ul
                    class="list-unstyled d-flex align-items-center right-list flex-grow-1 justify-content-end pl-3 fs-14 xs-pr-16">
                    <li class="xs-d-none">
                        <svg stroke="currentColor" class="fs-22" fill="currentColor" stroke-width="0"
                            viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"
                                d="M352.92 80C288 80 256 144 256 144s-32-64-96.92-64c-52.76 0-94.54 44.14-95.08 96.81-1.1 109.33 86.73 187.08 183 252.42a16 16 0 0 0 18 0c96.26-65.34 184.09-143.09 183-252.42-.54-52.67-42.32-96.81-95.08-96.81z">
                            </path>
                        </svg>
                    </li>
                    <li class="xs-d-none">
                        <!-- <a (click)="openChat()" class="text-slate-400 text-decoration-none link">
                            <i class="fa fa-comments outlined-icon fs-20 text-center d-block mb-1"></i>
                
                        </a> -->
                        <svg stroke="currentColor" class="fs-22" fill="currentColor" stroke-width="3"
                            viewBox="0 0 256 256" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M166,104a6,6,0,0,1-6,6H96a6,6,0,0,1,0-12h64A6,6,0,0,1,166,104Zm-6,26H96a6,6,0,0,0,0,12h64a6,6,0,0,0,0-12Zm70-74V184a14,14,0,0,1-14,14H154.41L140.16,223a14,14,0,0,1-24.32,0L101.59,198H40a14,14,0,0,1-14-14V56A14,14,0,0,1,40,42H216A14,14,0,0,1,230,56Zm-12,0a2,2,0,0,0-2-2H40a2,2,0,0,0-2,2V184a2,2,0,0,0,2,2h65.07a6,6,0,0,1,5.21,3l16,28a2,2,0,0,0,3.48,0l16-28a6,6,0,0,1,5.21-3H216a2,2,0,0,0,2-2Z">
                            </path>
                        </svg>
                    </li>


                    <!-- <li class="pt-1">
                        <a (click)="openSelling()" class="text-slate-400 text-decoration-none link">
                            <i class="fa fa-tags fs-18 text-center d-block mb-1 pt-1"></i>
                            <span>Selling</span>
                        </a>
                    </li> -->

                    <li>
                        <svg stroke="currentColor" class="fs-22" fill="currentColor" stroke-width="0"
                            viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M257 120.471c7.083 0 23.911 4.479 23.911 4.479 45.589 10.447 77.678 52.439 77.678 99.85V352.412l9.321 9.364 7.788 7.823H136.302l7.788-7.823 9.321-9.364V224.8c0-47.41 32.089-89.403 77.678-99.85 0 0 18.043-4.479 23.911-4.479M256 48c-17.602 0-31.059 13.518-31.059 31.2v14.559c-59.015 13.523-103.53 67.601-103.53 131.041v114.4L80 380.8v20.8h352v-20.8l-41.411-41.6V224.8c0-63.44-44.516-117.518-103.53-131.041V79.2c0-17.682-13.457-31.2-31.059-31.2zm41.411 374.4h-82.823c0 22.881 18.633 41.6 41.412 41.6s41.411-18.719 41.411-41.6z">
                            </path>
                        </svg>
                    </li>
                    <li>
                        <svg stroke="currentColor" class="fs-22" fill="currentColor" stroke-width="0"
                            viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M21.822 7.431A1 1 0 0 0 21 7H7.333L6.179 4.23A1.994 1.994 0 0 0 4.333 3H2v2h2.333l4.744 11.385A1 1 0 0 0 10 17h8c.417 0 .79-.259.937-.648l3-8a1 1 0 0 0-.115-.921zM17.307 15h-6.64l-2.5-6h11.39l-2.25 6z">
                            </path>
                            <circle cx="10.5" cy="19.5" r="1.5"></circle>
                            <circle cx="17.5" cy="19.5" r="1.5"></circle>
                        </svg>
                    </li>

                    <!-- <li class="ml-3">
                        <button
                            class="d-flex align-items-center btn bg-yellow-800 rounded-20 text-dark btn white-space-nowrap md-fs-12">
                            <span class="pr-1">2345</span>
                            Online
                            <i class="fa fa-globe fs-20 text-center pl-2"></i>
                        </button>
                    </li>-->
                    <li>
                        <a routerLink="/#"
                            class="text-decoration-none  p-0 rounded-20 text-dark btn white-space-nowrap md-fs-12">
                            Sell
                        </a>
                    </li>
                    @if (!currentUser?.id) {
                    <li class="">
                        <a (click)="login()"
                            class="d-flex align-items-center justify-content-center white-space-nowrap  link">
                            Login
                        </a>
                    </li>
                    }



                    @if (currentUser) {
                    <li class="user-profile cursor-pointer position-relative">
                        <button class="btn dropdown-toggle text-slate-400 fs-14 text-uppercase fw-semibold"
                            type="button" id="userDropdown" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <img class="user-Profile" [src]="
                              imgUrl
                                ? imgUrl
                                : '/assets/images/profile-placeholder.png'
                            " loading="lazy" width="42" height="42" class="rounded-pill border-1" />
                            <!-- <img src="/assets/images/profile-placeholder.png" alt="user-profile" width="42" height="42"
                                class="rounded-pill border-1"> -->
                            <img src="/assets/images/icons/angleDown.svg" alt="angle down" class="ml-1">
                        </button>
                        <div class="dropdown-menu white-space-nowrap p-0 bg-white user-profile-drow-donw pt-3 shadow-md"
                            aria-labelledby="userDropdown">
                            <a routerLink="/profilePage/{{currentUser.id}}"
                                class="text-slate-400 text-decoration-none hover-able py-2 fs-14 px-3 d-flex align-items-center w-100">
                                <i class="fas fa-user fs-18 text-center d-block mr-3"></i>
                                <span>
                                    Profile
                                </span>
                            </a>
                            <span (click)="logout()"
                                class="text-slate-400 text-decoration-none hover-able py-2 fs-14 px-3 d-flex align-items-center w-100">
                                <i class="fas fa-sign-out-alt fs-18 text-center d-block mr-3"></i>
                                <span>
                                    Logout
                                </span>
                            </span>
                        </div>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <nav class="container-fluid ">
        <div class="row  mx-auto">
            @if(!loading){
            <ul class="list-unstyled d-flex align-items-center justify-content-center fs-14 w-100 mb-0 categories">
                <li *ngFor="let category of categories.slice(0, categoryLimit)" class="py-2">
                    <a routerLink="/category/{{category.id}}/{{category.slug}}"
                        class="category-color text-decoration-none">{{category.name}}</a>
                </li>
                <li class="position-relative catagory-parent" *ngIf="categories.slice(categoryLimit).length">
                    <div class="dropdown pb-0">
                        <button class="btn dropdown-toggle py-0 fs-14 text-uppercase fw-semibold category-color"
                            type="button" id="moreCategoriesDropdown" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            more categories
                        </button>
                        <div class="dropdown-menu white-space-nowrap pb-0 right-0 shadow-md rounded-0"
                            aria-labelledby="moreCategoriesDropdown">
                            <a *ngFor="let category of categories.slice(categoryLimit)"
                                routerLink="/category/{{category.id}}/{{category.slug}}"
                                class="category-color text-decoration-none hover-able py-2 fs-14 px-3 d-block w-100">{{category.name}}</a>
                        </div>
                    </div>
                </li>
            </ul>
            }
        </div>
    </nav>
    <app-login-modal></app-login-modal>
</header>
}