<main class="mt-16">
  <div *ngIf="loading" class="container-fluid">
    <div class="row pt-5">
      <div class="col-md-7">
        <app-card-shimmer />
      </div>
      <div class="col-md-5">
        <app-card-shimmer />
      </div>
    </div>
  </div>
  <div *ngIf="!loading" class="container-fluid checkout-container product-detail-container">
    <div class="d-flex align-content-end mb-2">
      <h1 class="m-0 d-flex align-baseline mt-4 heading-checkout">Checkout</h1>
    </div>

    <div class="d-flex flex-column flex-md-row justify-content-between">
      <div class="flex-grow-1 mr-md-3">
        <!-- Payment Section -->
        <div class="payment-section border p-3 mb-3">
          <div class="d-flex justify-content-between">
            <strong>Pay with</strong>
            <button class="bg-transparent border-0 add-card" (click)="openDialog()">
              Add Card
            </button>
          </div>
          <div *ngFor="let payment of paymentDeposit; trackBy: trackById"
            class="d-flex justify-content-between border-b p-4">
            <div>
              <img [src]="payment.img" alt="" loading="lazy" />
              <!-- form-check-label -->
              <label class="ml-3" [for]="payment.value">{{
                payment.detail1
                }}</label>
            </div>
            <!-- form-check-input -->
            <input type="radio" class="w-20" [(ngModel)]="paymentMethod" [value]="payment.detail1" [id]="payment.id" />
          </div>
        </div>
        <!-- ttoffer-gift -->
        <div class="col-12 p-0">
          <div class="pt-1 pb-4 pl-2 border">
            <h5 class="fs-16 fw-semibold mt-1">
              TToffer Gift Cards and coupons
            </h5>
            <div class="d-flex mt-4">
              <input type="text" placeholder="Enter Code:" class="p-2 input-coupons text-gray-300" />
              <button class="btn btn-primary p-2 confrim-btn apply-btn" [disabled]="!paymentMethod">
                Apply
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- right-side -->
      <div class="right-side-checkout">
        <div class="border p-2 mb-2 mt-3 mt-md-0 mx-auto w-100">
          <div class="d-flex justify-content-between">
            <span class="summary-header">Items ({{totalLength}})</span>
            <span class="summary-total"> AED {{ totalAmount }}</span>
          </div>
          <hr />
          <div class="d-flex justify-content-between subtotal">
            <span>Order Total</span>
            <span>AED {{ totalAmount }}</span>
          </div>
          <div class="p-2 right-term-condition mt-2">
            <p>
              By confirming your order, you agree to the
              <strong>TToffer</strong> <a href="#">Trems & conditions</a>
            </p>
          </div>

          <button class="btn btn-yellow w-100 p-2 confrim-btn mt-2" [disabled]="!paymentMethod">
            Confirm and Pay
          </button>
        </div>
      </div>
    </div>
    <div class="pt-5">
      <!-- Shipping Section -->
      <div class="col-12 p-0">
        <div class="shipping-section border p-3 mb-3">
          <h4>Ship to</h4>
          <span class="d-block fs-14">Haroon Irshad</span>
          <span class="d-block fs-14">Fatygar Mughal pure lahore</span>
          <span class="d-block fs-14">Punjab Lahore</span>
          <span class="d-block fs-14">03094393326</span>
        </div>
      </div>

      <div class="col-12 p-0">
        <div class="border p-3 mb-3">
          <h4>Review Order</h4>
          <div *ngFor="let item of cartItems; let i=index"
            class="shipping-section {{cartItems.length == i+1?'':'border-b pt-2 pb-4 mb-3'}}">
            <div class="d-flex">
              <span>Seller:</span>
              <span class="mx-2 fw-semibold">{{ item.seller.name }}</span>
              <div class="d-flex">
                <span><a routerLink="#">Add note for seller</a></span>
                <span class="ml-2"><a routerLink="#">Pay only this seller</a></span>
              </div>
            </div>
            <div class="review-product" class="d-flex mt-3 position-relative">
              <div class="position-relative review-product-img">
                <img [src]="item.product.photo.url" alt="image" loading="lazy" class="w-100 h-100 object-fit-contain" />
              </div>
              <div class="ml-4 d-flex justify-content-between w-100 align-items-start">
                <div>
                  <button class="is-last-item" *ngIf="item.product.inventory.available_stock===1">
                    {{item.product.inventory.available_stock === 1?"Last One":""}}
                  </button>
                  <p class="m-0 p-0 fs-16">{{item.product.title}}</p>
                  <div class="d-flex align-items-center pt-2">
                    <p class="m-0 p-0 fs-14">Quantity {{item.product.quantity}}</p>
                    <div class="px-4">price ADE {{item.product.fix_price}}</div>
                    <span class="fs-14">Delivery</span>
                  </div>
                </div>
                <!-- <button class="btn bg-main-red text-white">
                  Remove
                </button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
