<div class="shimmer-container">
    <div class="shimmer-card" *ngFor="let item of [1, 2, 3]">
        <div class="shimmer-thumbnail shimmer-animated"></div>
        <div class="shimmer-content">
            <div class="shimmer-line shimmer-title shimmer-animated"></div>
            <div class="shimmer-avatars">
                <div class="shimmer-avatar shimmer-animated"></div>
                <div class="shimmer-avatar shimmer-animated"></div>
                <div class="shimmer-avatar shimmer-animated"></div>
                <div class="shimmer-avatar shimmer-animated"></div>
            </div>
            <div class="shimmer-line shimmer-action shimmer-animated"></div>
        </div>
    </div>
</div>