.tabs {
    max-width: 400px;
    height: 55px;
    li{
        width: 120px;
        &:nth-child(2){
            border-left: 1px solid #d8dfe0;
            border-right: 1px solid #d8dfe0;
        }
    }
    button {
        background: transparent;
        text-transform: capitalize;
    }
}

.cshadow {
    box-shadow: 0 .5rem 1rem rgb(0 0 0 / 8%);
}

.notifications {
    column-gap: 20px;
    transition: all 300ms ease-in-out;

    img {
        width: 50px;
        height: 50px;
    }

    &:hover {
        opacity: .7;
    }
}

.bulit {
    width: 8px;
    height: 8px;
}

.unread {
    background: #FFA700;
}

button:focus {
    outline: none;

}