.right-side {
  max-width: 508px;
  min-width: 300px;
}

.icon-btn {
  height: 50px;
  min-width: 50px;
  background: #fff;

  &:focus-within {
    outline: none;
  }

  &:hover {
    background: transparent;
  }
}

.img-slider {
  background: #f2f2f2;
  min-height: 500px;
  max-height: 500px;
  overflow-y: hidden;

  .butons-scws {
    z-index: 10;
    top: 23px;
    right: 23px;
    column-gap: 10px;

    button {
      min-width: 45px;
      height: 45px;
    }
  }
}

.img-container {
  max-height: 500px;
}

.border-2 {
  border: 2px solid;
}

.d-ling {
  a {
    color: #000;
    font-weight: 500;
  }
}

.qty-input {
  height: 50px;
  width: 80px;
  background: #f2f2f2;
  // border-color: #000;
}

.buttons {
  button {
    padding: 12px;
    border-color: #ffc107;
    color: #ffc107;
    &:hover {
      background: #f2f2f2;
    }
  }

  .buy-btn{
    color: white !important;
    a{
      color: white !important;
    }
  }

  .buy-btn:hover {
    background: #ffc107ef;

  }
}

.user-img {
  height: 45px;
  width: 45px;
}

.product-detail-section {
  .sim-box {
    height: 218px;
  }

  .colored-box-container {
    column-gap: 20px;
  }
}

.similar-product-container {
  .wishlist {
    height: 35px;
    min-width: 35px;
    top: 10px;
    right: 10px;
  }
}

.bolt-icon {
  min-width: 40px;
  height: 40px;
}

.mt-10 {
  margin-top: 150px;
}
.minus-margin{
  margin-top: -128px;
}
@media (min-width: 1200px) {
  .img-gallery {
    min-width: 92px;
    min-height: 92px;
    max-height: 92px;
    max-width: 92px;
    background: #f2f2f2;

    img {
      object-fit: contain;
    }
  }
}


@media (max-width: 1200px) {
  .img-gallery {
    min-width: 92px;
    min-height: 92px;
    max-height: 92px;
    max-width: 92px;
    background: #f2f2f2;

    img {
      object-fit: contain;
    }
  }
}

@media (max-width: 1024px) {
  .right-side {
    max-width: 100%;
  }
}
@media(max-width : 992px){
.minus-margin{
 margin-top: 0px;
}
}
.card {
  border-radius: 10px;
  margin-bottom: 1rem;
  ::ng-deep .p-galleria .p-galleria-thumbnail-container {
    background: rgba(0, 0, 0, 0.9) !important;
    padding: 1rem 0.25rem !important;
    display: flex !important;
    justify-content: center !important;
    overflow: hidden;
    width: 100%;
  }

  // p-galleria-thumbnail-items-container
  :ng-deep .p-galleria-thumbnail-items-container {}

  :ng-deep #pn_id_1 .p-galleria-thumbnail-item {
    width: fit-content !important;
  }

  ::ng-deep[type=button],
  [type=reset],
  [type=submit],
  button {
    color: #ffc107 !important;
    background: transparent !important;
    border: none !important;
  }

  .p-galleria-thumbnail-items-container {

    .p-galleria-thumbnail-items {}
  }
}

@media (max-width:576px) {
  .sm-products {
    column-gap: 4%;
    row-gap: 30px;

    .col-6 {
      flex: 0 0 48%;
      max-width: 48%;
    }
  }
}