<main class="mt-16 mb-5">
  <div class="container-fluid product-detail-container pt-5">
    <div *ngIf="loading">
      <app-card-shimmer />
    </div>
    <div></div>
    <div *ngIf="!loading">
      <div class="product-detail-content d-flex flex-lg-row md-mt-5">
        <div class="left-side flex-grow-1 w-100">
          <div class="position-relative">
            <div class="d-flex align-items-center position-absolute flht">
              <button
                class="btn shadow bg-white p-0 wishlist mr-2 rounded-pill icon-btn d-flex align-items-center justify-content-center hover-bg-none full-screen-icon"
                aria-label="Add to Wishlist" (click)="isFullScreen= !isFullScreen">
                <i class="fas fa-expand" style="font-size: 1.5em;"></i>
              </button>
              <button (click)="toggleWishlist(product)"
                class="btn rounded-pill shadow bg-white p-2 wishlist rounded-pill icon-btn d-flex align-items-center justify-content-center hover-bg-none heart-icon"
                aria-label="Add to Wishlist">
                <span class="pr-2">{{product.wishlist_count}}</span>
                <i class="{{product.user_wishlist?.user_id === currentUserid ? 'fas': 'far'}} fa-heart fs-19"
                  aria-hidden="true"></i>
              </button>
            </div>

            <p-galleria [verticalThumbnailViewPortHeight]="'500px'"
              [thumbnailsPosition]="screenWidth< 768 || isFullScreen?'bottom':'left'" [numVisible]="5"
              [changeItemOnIndicatorHover]="true" [value]="product.photos" [showItemNavigators]="true"
              [showThumbnailNavigators]="true" [responsiveOptions]="responsiveOptions" [circular]="false"
              [changeItemOnIndicatorHover]="true" [showItemNavigators]="true" [fullScreen]="isFullScreen"
              [(visible)]="isFullScreen">

              <ng-template pTemplate="item" let-item>
                <img [src]="item.url" loading="lazy" class="d-block w-100 obj-fit-content slider-img"
                  style="height: 450px" />
              </ng-template>
              <ng-template pTemplate="thumbnail" let-item>
                <img [src]="item.url" loading="lazy" class="w-100 h-100 max-h-100 max-w-100 rounded" />
              </ng-template>
            </p-galleria>
          </div>

          <app-right-side *ngIf="screenWidth < 768" [product]="product" [parsedAttributes]="parsedAttributes"
            (handleWishlist)="toggleWishlist($event)" />
          <!-- similar products -->
          <div class="similar-product-container pr-5 xs-px-0" *ngIf="product.product_type !=='auction'">
            <hr class="my-5">
            <div class="fw-semibold fs-24">Similar Items</div>
            <span>Sponsored</span>
            <div class="d-flex align-content-center justify-content-end">
              <a routerLink="/" class="text-dark-650 text-decoration-underline">Feedback on our suggestions</a>
              <span class="px-2">|</span>
              <a routerLink="/" class="text-dark-650 text-decoration-underline">See all</a>
            </div>
            <!-- SIMILAR PRODUCTS -->
            <div class="row pt-4 sm-products">

              @for (item of similarProductsData; track $index) {
              <div class="col-lg-4 col-6 xs-px-0 mb-2">
                <div class="sim-box">
                  <div class="bg-gray-450 text-center rounded-2 position-relative mb-3">
                    <button (click)="toggleWishlist(item)" aria-label="Add to Wishlist"
                      class="btn position-absolute shadow bg-white p-0 pt-1 wishlist ml-auto rounded-pill icon-btn d-flex align-items-center justify-content-center hover-bg-none"><i
                        aria-hidden="true" class="fa-heart far fs-19"></i></button>
                    <img src={{item?.photos?.[0]?.url}} alt="image" class="img-fluid h-100 rounded-2">
                  </div>
                  <a [routerLink]="['/product-detail', item?.id, item?.slug]" class="text-left text-dark-650">
                    {{item?.description.slice(0,20)}}
                  </a>
                  <div class="text-gray-300">
                    New (Other)
                  </div>
                </div>
              </div>
              }
            </div>
          </div>
          <!-- endsimilar products -->
        </div>
        <app-right-side *ngIf="screenWidth > 768" [product]="product" [parsedAttributes]="parsedAttributes"
          (handleWishlist)="toggleWishlist($event)" />
      </div>

      <!-- more detail about product -->
      <section class="md-py-5" *ngIf="product.product_type !=='auction'">
        <!-- details -->
        <div class="order-lg-3 order-2">
          <div class="border p-3 mb-2 w-100 mt-4 rounded product-detail-section">
            <h2 class="fw-semibold fs-24">Details</h2>
            <div class="row">
              <div class="col-md-6 mb-2" *ngFor="let item of parsedAttributes  | keyvalue ">
                <div class="d-flex justify-content-between align-items-center bg-gray-450 py-2 px-3 rounded">
                  <span class="text-uppercase fw-semibold">{{ item.key | titlecase }}</span>
                  <span>{{ item.value }}</span>
                </div>
              </div>
            </div>
          </div>


          <!-- description -->
          <div class="border p-3 mb-2 w-100 mt-3 rounded">
            <h2 class="fw-semibold fs-24">Description</h2>
            <span class="d-block fs-14">{{product.description}}</span>

          </div>

          <hr>
          <!-- location -->
          <div class="md-pt-0 pt-3">
            <h2 class="fw-semibold fs-24">Location</h2>
            <div>
              <div class="d-block fs-14">{{ product?.location }}</div>
              <div class="map-div mt-2" style="height: 300px;">
                <google-map [center]="center" [zoom]="zoom">
                  <map-marker [position]="markerPosition" [options]="markerOptions"></map-marker>
                </google-map>
              </div>
            </div>
          </div>

        </div>
      </section>
      <app-make-offer-modal [product]="product" />
    </div>
  </div>
</main>