<main class="mt-16 mb-5">
  <div class="container-fluid product-detail-container ">
    <div *ngIf="loading">
      <app-card-shimmer />
    </div>
    <div *ngIf="!loading">
      <div class="product-detail-content d-flex flex-lg-row md-mt-5">
        <div class="left-side flex-grow-1 w-100">
          <p-galleria [verticalThumbnailViewPortHeight]="'500px'" [thumbnailsPosition]="screenWidth< 768?'bottom':'left'" [numVisible]="5" [changeItemOnIndicatorHover]="true"
          [value]="product.photo" [showItemNavigators]="true" [showThumbnailNavigators]="true"
           [responsiveOptions]="responsiveOptions" [circular]="false" [changeItemOnIndicatorHover]="true" [showItemNavigators]="true">
           <ng-template pTemplate="item" let-item>
             <img [src]="item.src" loading="lazy" class="d-block w-100 obj-fit-content slider-img"
               style="height: 450px" />
           </ng-template>
           <ng-template pTemplate="thumbnail" let-item>
             <img [src]="item.src" loading="lazy" class="w-100 h-100 max-h-100 max-w-100" />
           </ng-template>
         </p-galleria>
         <app-right-side *ngIf="screenWidth < 768"/>
                   <!-- similar products -->
          <hr class="my-5">
          <div class="similar-product-container pr-5 xs-px-0">
            <div class="fw-semibold fs-24">Similar Items</div>
            <span>Sponsored</span>
            <div class="d-flex align-content-center justify-content-end">
              <a routerLink="/" class="text-dark-650 text-decoration-underline">Feedback on our suggestions</a>
              <span class="px-2">|</span>
              <a routerLink="/" class="text-dark-650 text-decoration-underline">See all</a>
            </div>
            <!-- SIMILAR PRODUCTS -->
            <div class="row pt-4 sm-products">
              @for (item of [1,2,3,4]; track $index) {
              <div class="col-md-3 col-6 xs-px-0">
                <div class="sim-box">
                  <div class="bg-gray-450 text-center p-3 rounded-2 position-relative mb-3">
                    <button (click)="toggleWishlist(item)" aria-label="Add to Wishlist"
                      class="btn position-absolute shadow bg-white p-0 pt-1 wishlist ml-auto rounded-pill icon-btn d-flex align-items-center justify-content-center hover-bg-none"><i
                        aria-hidden="true" class="fa-heart far fs-19"></i></button>
                    <img src="https://i.ebayimg.com/thumbs/images/g/ueQAAOSwQSBm9rcg/s-l500.jpg" alt="image"
                      class="img-fluid max-h-100">
                  </div>
                  <a routerLink="/" class="text-left text-dark-650">
                    NEW Open Box Samsung Galaxy Z Fold 6 Silver 512GB Factory Unlocked (READ)
                  </a>
                  <div class="text-gray-300">
                    New (Other)
                  </div>
                </div>
              </div>
              }
            </div>
          </div>
          <!-- endsimilar products -->
        </div>
        <app-right-side *ngIf="screenWidth > 768"/>
      </div>

      <!-- more detail about product -->
      <section class="md-py-5" *ngIf="product.ProductType !=='auction'">
        <!-- details -->
        <div class="order-lg-3 order-2">
          <div class="border p-3 mb-2 w-100 mt-4 rounded product-detail-section">
            <h2 class="fw-semibold fs-24">Details</h2>
            <div class="d-flex align-items-center colored-box-container">
              <div class="flex-grow-1 px-3 d-flex justify-content-between align-content-center bg-gray-450 py-2 ">
                <span>Brand</span>
                <span class="fw-semibold">Apple</span>
              </div>
              <div class="flex-grow-1 px-3 d-flex justify-content-between align-content-center bg-gray-450 py-2">
                <span>Condition</span>
                <span class="fw-semibold">Used</span>
              </div>
            </div>
          </div>

          <!-- description -->
          <div class="border p-3 mb-2 w-100 mt-3 rounded">
            <h2 class="fw-semibold fs-24">Description</h2>
            <span class="d-block fs-14">Iphone 12pro 256GB PTA APPROVED</span>
            <span class="d-block fs-14">Water Pack 9/10 CONDITION</span>
            <span class="d-block fs-14">3UTOOL OK</span>
          </div>

          <hr>
          <!-- location -->
          
        </div>
      </section>
      <div >
        <h2 class="fw-semibold fs-24">Location</h2>
        <div>
          <span >Ras Al Khor, Dubai, UAE</span>
          <div class="mt-2">
            <google-map style="border-radius: 16px;height:200px;width:100%;"  [center]="center" [zoom]="zoom">
            </google-map>
          </div>
        </div>
      </div>
      <app-make-offer-modal [product]="product" />
    </div>

  </div>
</main>