<main class="mt-16 mb-5">
  <div class="container-fluid product-detail-container pt-4">
    <div *ngIf="loading">
      <app-card-shimmer />
    </div>
    <div *ngIf="!loading">
      <div class="product-detail-content d-flex flex-column flex-lg-row mt-5">
        <!-- left-side -->

        <div class="left-side flex-grow-1 w-100 pr-4">
          <div class="d-flex flex-column flex-lg-row">
            <!-- small-images -->
            <div class="mr-2 order-2 order-lg-1 d-flex flex-lg-column justify-content-lg-start justify-content-around">
              @for (item of product.photo; track $index) {
              <div class="img-gallery rounded-2 mb-2 mx-2 mx-lg-0 overflow-hidden mt-2 mt-lg-0 d-flex align-items-center justify-content-center cursor-pointer {{
                $index == imgIndex ? 'border-2' : ''
              }}" (mouseover)="imgIndex = $index">
                <img src="{{ item.src }}" alt="{{ product.title }}" loading="lazy" class="img-fluid h-100" />
              </div>
              }
            </div>
            <!-- big-image -->
            <div
              class="d-flex {{product.photo?.length > 1 ?'justify-content-between':'justify-content-center'}} position-relative align-items-center px-4 py-2 flex-grow-1 d-flex px-4 py-2 img-slider rounded-2 order-1 order-lg-2 position-relative z-0">
              <div class="butons-scws position-absolute d-flex align-content-center">
                <button aria-label="Add to Wishlist"
                  class="btn shadow bg-white rounded-pill icon-btn d-flex align-items-center justify-content-center hover-bg-none">
                  <svg aria-hidden="true" focusable="false" class="icon ux-expand-icon" viewBox="0 0 22 22">
                    <path d="M1 13L1 21.25" stroke="black" stroke-width="1.5" stroke-linecap="round"></path>
                    <path d="M9.25 21.25H1" stroke="black" stroke-width="1.5" stroke-linecap="round"></path>
                    <path d="M9.00195 13.25L1.00195 21.25" stroke="black" stroke-width="1.5" stroke-linecap="round">
                    </path>
                    <path d="M21.25 9.25L21.25 1" stroke="black" stroke-width="1.5" stroke-linecap="round"></path>
                    <path d="M13 1L21.25 1" stroke="black" stroke-width="1.5" stroke-linecap="round"></path>
                    <path d="M13.248 9.00195L21.248 1.00195" stroke="black" stroke-width="1.5" stroke-linecap="round">
                    </path>
                  </svg>
                </button>

                <button aria-label="Add to Wishlist"
                  class="btn rounded-pill hadow bg-white icon-btn d-flex align-items-center justify-content-center hover-bg-none">
                  <span class="pr-2">12</span>
                  <i aria-hidden="true" class="fa-heart far fs-19"></i></button>
              </div>
              <button *ngIf="product.photo?.length > 1" type="button" class="rounded-pill icon-btn p-0 border-0 shadow {{
                  imgIndex === 0 ? 'bg-transparent' : ''
                }}" (click)="imgIndex = imgIndex - 1" [disabled]="imgIndex == 0">
                <svg stroke="currentColor" fill="currentColor" stroke-width="1" class="fs-18" version="1.1"
                  viewBox="0 0 17 17" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                  <g></g>
                  <path d="M5.207 8.471l7.146 7.147-0.707 0.707-7.853-7.854 7.854-7.853 0.707 0.707-7.147 7.146z">
                  </path>
                </svg>
              </button>
              <div class="mx-5 position-relative img-container">
                <img src="{{product.photo?.[imgIndex]?.src}}" alt="{{ product.title }}" loading="lazy"
                  class="img-fluid" />
                <div
                  class="text-white pl-3 pr-2 price-tag position-absolute py-2 rounded d-flex align-items-center justify-content-center z-1">
                  AED 1,800.00
                </div>
              </div>
              <button *ngIf="product.photo?.length > 1" type="button" class="rounded-pill icon-btn p-0 border-0 shadow {{
                  product.photo?.length - 1 == imgIndex ? 'bg-transparent' : ''
                }}" (click)="imgIndex = imgIndex + 1" [disabled]="product.photo.length - 1 == imgIndex">
                <svg stroke="currentColor" fill="currentColor" stroke-width="1" class="fs-18" version="1.1"
                  viewBox="0 0 17 17" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                  <g></g>
                  <path d="M13.207 8.472l-7.854 7.854-0.707-0.707 7.146-7.146-7.146-7.148 0.707-0.707 7.854 7.854z">
                  </path>
                </svg>
              </button>
            </div>
          </div>
        </div>

        <!-- right-side -->
        <div class="right-side ml-2">
          <h1 class="fs-22 fw-bold">
            {{ product.title }}
          </h1>
          <!-- <p>Factory New, Fedex 2Day, 30 Day Return - MobileWorldNY</p> -->
          <div class="d-flex align-items-center border-b border-t py-2">
            <a routerLink="/" class="user-img rounded-pill border d-flex align-items-center justify-content-center">
              <img [src]="
                product.user
                  ? product.user.img
                  : '/assets/images/profile-icon.svg'
              " alt="{{ product.user.name }}" loading="lazy" class="img-fluid max-h-100" />
            </a>
            <div class="pl-2">
              <div>{{ product.user?.name }} <span>(4567)</span></div>

              <div class="fw-normal">
                <span class="text-yellow-800 d-block">★★★★★</span>
                <a routerLink="/" class="text-dark text-decoration-underline mr-2">Seller's other itmes</a>
                <a routerLink="/" class="text-dark text-decoration-underline"
                  (click)="contactSeller(product, product.user)">Contact
                  seller</a>
              </div>
            </div>
          </div>

          <div>
            @if(product.ProductType !=='auction'){
            <div class="mt-4 mb-2">
              <div class="fw-bold fs-22">AED {{ product.fix_price }}</div>
              <p class="m-0">or Best Offer</p>
              <div class="text-slate-300 fs-14">
                Was AED 1,800.00 <span class="text-danger fw-normal mr-2">(39% off)</span>
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" height="1em"
                  width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
                  <path
                    d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z">
                  </path>
                </svg>
              </div>
              <div class="mb-2 d-flex align-items-center">
                <div class="text-slate-300 fs-14">
                  <span class="text-success fw-normal">AED 1,800.00 </span> <span>with coupon code</span>
                </div>
                <button class="text-decoration-underline border-0 p-0 ml-2 fs-14 fw-normal bg-transparent">
                  Price details
                </button>
              </div>
              <!-- <div class="fw-normal">
                <span class="fs-14 fw-normal">No Interest if paid in full in 6 mo on AED99+ with</span>
                <a href="" class="text-decoration-underline text-dark pl-2 fw-semibold fs-14">PayPal Credit*</a>
              </div> -->
            </div>
            }
            @if(product.ProductType =='auction'){
            <div class="mt-3 mb-2">
              <div class="fw-bold fs-22">AED {{ product.auction_price }}</div>
              <div class="d-flex align-content-center">
                <a routerLink="/" class="text-decoration-underline">15 bids</a>
                <div class="fw-normal d-flex align-content-center">
                  <span class="fs-20 px-1">.</span>
                  <span>Ends in 2d 9h</span>
                  <span class="fs-20 px-1">.</span>
                  <span>Monday, 04:05 <span>PM</span></span>
                </div>

              </div>
            </div>

            <div class="mb-3">
              <span class="fw-normal">Condition:</span>
              <span class="fw-semibold mx-2">{{ product.condition }}</span>
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" height="1em"
                width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
                <path
                  d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z">
                </path>
              </svg>
            </div>
            }

            @if(product.ProductType !=='auction'){
            <div>
              <span class="fw-normal">Condition:</span>
              <span class="fw-semibold mx-2">{{ product.condition }}</span>
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" height="1em"
                width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
                <path
                  d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z">
                </path>
              </svg>
            </div>
            <div class="mb-3 mt-2">
              <span class="fw-normal">Sale ends in:</span>
              <span class="fw-semibold ml-2">6d 15h</span>
            </div>
            <!-- <div class="fs-14 ">
              <span class="fw-normal">Quantity</span>
              <input type="number" value="1" class="mx-2 qty-input rounded-2 border-1 px-2"
                (change)="handleProductQty($event.target,product)" />
              <span class="text-slate-300 fw-normal">6 available</span>
              <span class="text-slate-300 ml-2 fw-normal">3 sold</span>
            </div> -->
            }
            @if(product.ProductType =='auction'){
            <div class="buttons ">
              <button type="button"
                class="d-block w-100 btn rounded-pill border-1 my-2 fs-18 fw-normal text-white btn-yellow"
                (click)="showOfferModal()">
                Place bid
              </button>
              <button (click)="toggleWishlist(product)" type="button"
                class="d-block w-100 btn rounded-pill border-1 fs-18 fw-normal text-primary">
                <svg _ngcontent-ng-c1363418519="" stroke="currentColor" fill="currentColor" stroke-width="0"
                  viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg" class="fs-22">
                  <path _ngcontent-ng-c1363418519="" fill="none" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="20"
                    d="M352.92 80C288 80 256 144 256 144s-32-64-96.92-64c-52.76 0-94.54 44.14-95.08 96.81-1.1 109.33 86.73 187.08 183 252.42a16 16 0 0 0 18 0c96.26-65.34 184.09-143.09 183-252.42-.54-52.67-42.32-96.81-95.08-96.81z">
                  </path>
                </svg>
                Add to wishlist
              </button>
            </div>
            <div class="rounded-2 bg-gray-450 pl-3 pr-2 py-3 mt-4 d-flex align-items-center ">
              <div class="rounded-pill bg-white d-flex align-items-center justify-content-center bolt-icon mr-2">
                <svg stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 15 15" height="1.5em" width="1.5em"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M8.69667 0.0403541C8.90859 0.131038 9.03106 0.354857 8.99316 0.582235L8.0902 6.00001H12.5C12.6893 6.00001 12.8625 6.10701 12.9472 6.27641C13.0319 6.4458 13.0136 6.6485 12.8999 6.80001L6.89997 14.8C6.76167 14.9844 6.51521 15.0503 6.30328 14.9597C6.09135 14.869 5.96888 14.6452 6.00678 14.4178L6.90974 9H2.49999C2.31061 9 2.13748 8.893 2.05278 8.72361C1.96809 8.55422 1.98636 8.35151 2.09999 8.2L8.09997 0.200038C8.23828 0.0156255 8.48474 -0.0503301 8.69667 0.0403541ZM3.49999 8.00001H7.49997C7.64695 8.00001 7.78648 8.06467 7.88148 8.17682C7.97648 8.28896 8.01733 8.43723 7.99317 8.5822L7.33027 12.5596L11.5 7.00001H7.49997C7.353 7.00001 7.21347 6.93534 7.11846 6.8232C7.02346 6.71105 6.98261 6.56279 7.00678 6.41781L7.66968 2.44042L3.49999 8.00001Z"
                    fill="currentColor"></path>
                </svg>
              </div>
              <div>
                <strong>People are checking this out.</strong>
                <span class="pl-1">5 have added this to their wishlist</span>
              </div>
            </div>
            <div class="mt-4">
              <span class="fw-normal">Shipping:</span>
              <span class="px-3 fw-semibold">Local delivery</span>
              <span class="fw-semibold">Pick up</span>
            </div>
            }
          </div>
        </div>
      </div>
      <section class="py-5" *ngIf="product.ProductType !=='auction'">
        <div class="d-flex">
          <div class="similar-product-container pr-5">
            <div class="fw-semibold fs-24">Similar Items</div>
            <span>Sponsored</span>
            <div class="d-flex align-content-center justify-content-end">
              <a routerLink="/" class="text-dark-650 text-decoration-underline">Feedback on our suggestions</a>
              <span class="px-2">|</span>
              <a routerLink="/" class="text-dark-650 text-decoration-underline">See all</a>
            </div>
            <!-- SIMILAR PRODUCTS -->
            <div class="row pt-4">
              @for (item of [1,2,3,4]; track $index) {
              <div class="col-md-3">
                <div class="sim-box">
                  <div class="bg-gray-450 text-center p-3 rounded-2 position-relative mb-3">
                    <button aria-label="Add to Wishlist"
                      class="btn position-absolute shadow bg-white p-0 pt-1 wishlist ml-auto rounded-pill icon-btn d-flex align-items-center justify-content-center hover-bg-none"><i
                        aria-hidden="true" class="fa-heart far fs-19"></i></button>
                    <img src="https://i.ebayimg.com/thumbs/images/g/ueQAAOSwQSBm9rcg/s-l500.jpg" alt="image"
                      class="img-fluid max-h-100">
                  </div>
                  <a routerLink="/" class="text-left text-dark-650">
                    NEW Open Box Samsung Galaxy Z Fold 6 Silver 512GB Factory Unlocked (READ)
                  </a>
                  <div class="text-gray-300">
                    New (Other)
                  </div>
                </div>
              </div>
              }
            </div>
          </div>
          @if(product.ProductType !=='auction'){
          <div class="right-side">
            <div class="buttons ">
              <button (click)="buyProduct(product)" type="button"
                class="d-block w-100 btn rounded-pill border-1 bg-yellow-800 buy-btn">
                <a routerLink="/" class="text-white fs-18 fw-normal text-decoration-none">Buy It Now</a>
              </button>

              <button (click)="addToCart(product)" type="button"
                class="d-block w-100 btn rounded-pill border-1 my-2 fs-18 fw-normal text-primary">
                Add to cart
              </button>

              <button type="button" class="d-block w-100 btn rounded-pill border-1 my-2 fs-18 fw-normal text-primary"
                (click)="showOfferModal()">
                Make Offer
              </button>


              <button (click)="toggleWishlist(product)" type="button"
                class="d-block w-100 btn rounded-pill border-1 fs-18 fw-normal text-primary">
                <svg _ngcontent-ng-c1363418519="" stroke="currentColor" fill="currentColor" stroke-width="0"
                  viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg" class="fs-22">
                  <path _ngcontent-ng-c1363418519="" fill="none" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="20"
                    d="M352.92 80C288 80 256 144 256 144s-32-64-96.92-64c-52.76 0-94.54 44.14-95.08 96.81-1.1 109.33 86.73 187.08 183 252.42a16 16 0 0 0 18 0c96.26-65.34 184.09-143.09 183-252.42-.54-52.67-42.32-96.81-95.08-96.81z">
                  </path>
                </svg>
                Add to watchlist
              </button>
            </div>
            <div class="rounded-2 bg-gray-450 pl-3 pr-2 py-3 mt-4 d-flex align-items-center ">
              <div class="rounded-pill bg-white d-flex align-items-center justify-content-center bolt-icon mr-2">
                <svg stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 15 15" height="1.5em" width="1.5em"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M8.69667 0.0403541C8.90859 0.131038 9.03106 0.354857 8.99316 0.582235L8.0902 6.00001H12.5C12.6893 6.00001 12.8625 6.10701 12.9472 6.27641C13.0319 6.4458 13.0136 6.6485 12.8999 6.80001L6.89997 14.8C6.76167 14.9844 6.51521 15.0503 6.30328 14.9597C6.09135 14.869 5.96888 14.6452 6.00678 14.4178L6.90974 9H2.49999C2.31061 9 2.13748 8.893 2.05278 8.72361C1.96809 8.55422 1.98636 8.35151 2.09999 8.2L8.09997 0.200038C8.23828 0.0156255 8.48474 -0.0503301 8.69667 0.0403541ZM3.49999 8.00001H7.49997C7.64695 8.00001 7.78648 8.06467 7.88148 8.17682C7.97648 8.28896 8.01733 8.43723 7.99317 8.5822L7.33027 12.5596L11.5 7.00001H7.49997C7.353 7.00001 7.21347 6.93534 7.11846 6.8232C7.02346 6.71105 6.98261 6.56279 7.00678 6.41781L7.66968 2.44042L3.49999 8.00001Z"
                    fill="currentColor"></path>
                </svg>
              </div>
              <div>
                <strong>People are checking this out.</strong>
                <span class="pl-1">5 have added this to their wishlist</span>
              </div>
            </div>
            <div class="mt-4">
              <span class="fw-normal">Shipping:</span>
              <span class="px-3 fw-semibold">Local delivery</span>
              <span class="fw-semibold">Pick up</span>
            </div>
          </div>
          }
        </div>

        <!-- details -->
        <div class="border p-3 mb-2 w-100 mt-4 rounded product-detail-section">
          <h2 class="fw-semibold fs-24">Details</h2>
          <div class="d-flex align-items-center colored-box-container">
            <div class="flex-grow-1 px-3 d-flex justify-content-between align-content-center bg-gray-450 py-2 ">
              <span>Brand</span>
              <span class="fw-semibold">Apple</span>
            </div>
            <div class="flex-grow-1 px-3 d-flex justify-content-between align-content-center bg-gray-450 py-2">
              <span>Condition</span>
              <span class="fw-semibold">Used</span>
            </div>
          </div>
        </div>

        <!-- description -->
        <div class="border p-3 mb-2 w-100 mt-3 rounded">
          <h2 class="fw-semibold fs-24">Description</h2>
          <span class="d-block fs-14">Iphone 12pro 256GB PTA APPROVED</span>
          <span class="d-block fs-14">Water Pack 9/10 CONDITION</span>
          <span class="d-block fs-14">3UTOOL OK</span>
        </div>

        <hr>
        <div>
          <h2 class="fw-semibold fs-24">Location</h2>
          <div class="d-flex flex-column flex-lg-row justify-content-between">
            <span class="d-block fs-14">Ras Al Khor, Dubai, UAE</span>
            <div class="map-div mt-2">
              <google-map style="border-radius: 16px" height="200px" width="100%" [center]="center" [zoom]="zoom">
              </google-map>
            </div>
          </div>
        </div>
      </section>

      <div class="modal fade make-offer-modal" tabindex="-1" role="dialog" aria-labelledby="makeoffermodal"
        aria-hidden="false">
        <div class="modal-dialog modal-xl" role="document">
          <app-make-offer-modal />
        </div>
      </div>
      <app-make-offer-modal />
    </div>
    <!-- app.component.html -->

    <div class="card d-none">
      <p-galleria [value]="images" [showItemNavigators]="true" [showThumbnails]="true"
        [responsiveOptions]="responsiveOptions" [circular]="true" [numVisible]="5"
        [containerStyle]="{ 'max-width': '640px' }">

        <!-- Main Image Template -->
        <ng-template pTemplate="item" let-item>
          <img [src]="item.itemImageSrc" style="width: 100%; display: block;" />
        </ng-template>

        <!-- Thumbnail Image Template -->
        <ng-template pTemplate="thumbnail" let-item>
          <div class="grid grid-nogutter justify-content-center">
            <img [src]="item.thumbnailImageSrc" style="display: block;" />
          </div>
        </ng-template>
      </p-galleria>


    </div>

  </div>
</main>