<!-- CODED BY BILAL -->
<main class="mt-16">
  <div class="container-fluid product-detail-container">
    <div class="">
      <div class="xs-px-0">
        <div>
          <app-slider [slides]="promotionBanners"></app-slider>
        </div>
        <!-- <div class="permotion-banners">
        @if (promotionBanners.length > 0) {
        <app-promotion-slider
          [banners]="promotionBanners.slice(0, 2)"
          bannerClass="body-banner"
        />
        }
      </div> -->
      </div>
      <div class="text-center mb-4 buttons d-flex align-items-center justify-content-center xs-between pt-5">
        @if (!['job','services','property-for-rent','animals'].includes(slugName)) {
        <button type="button"
          class="btn py-2 px-2 mr-1  {{activeTab=='auction' || activeTab=='hiring'?'text-white bg-dark':'border-1'}}"
          (click)="handleTab(id==7?'hiring':'auction')"> {{id ==7?'Hiring':'Auction Products'}}</button>
        }
        <button type="button"
          class="btn py-2 px-2 {{activeTab=='featured' || activeTab=='looking' || ['job','services','property-for-rent','animals'].includes(slugName)?'bg-dark text-white':'border-1'}}"
          (click)="handleTab(id == 7?'looking':'featured')">{{id == 7?"Looking":'Feature Products'}}</button>
      </div>
      <div class="d-block d-lg-flex">
        <app-filters (handleFilterEvent)="fetchData($event)" [totalProducts]="data?.length" />
        <!-- PRODUCT SIDE -->
        <div class="flex-grow-1 pl-lg-4 xs-px-0">
          <div class="w-100 product-main">
            @if (loading) {
            @for (data of [1,2,3,4,5,6,7,8,];track $index) {
            <div class="p-0 border-1 rounded-2 shimmer-card">
              <app-card-shimmer />
            </div>
            }
            }
            <div class="no-data-container" *ngIf="!data.length">
              <img class="no-data-found" src="/assets/images/no-data1.png" alt="No Data Found">
            </div>
            @if (data.length) {
            <div class="product-card" *ngFor="let post of data">
              <app-product-card [postData]="post" postDetialUrl="product-detail"
                (handlesUserWishlist)="handlesUserWishlist($event)" />
            </div>
            }
          </div>

          <div class="text-center my-5" *ngIf="data?.length > 10">
            <button class="btn load-more-btn fs-18 fw-semibold" (click)="handleLoadMore(currentPage)">Load more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- END  BY BILAL -->