<!-- CODED BY BILAL -->
<main class="mt-16">
  <div class="container-fluid product-detail-container">
    <div class="">
    <div class="xs-px-0">
      <div>
        <app-slider [slides]="promotionBanners"></app-slider>
      </div>
      <div class="permotion-banners">
        @if (promotionBanners.length > 0) {
        <app-promotion-slider
          [banners]="promotionBanners.slice(0, 2)"
          bannerClass="body-banner"
        />
        }
      </div>
    </div>
    <div class="d-block d-lg-flex pt-5">
      <aside class="product-filter">
        <app-filters />
      </aside>
      <!-- PRODUCT SIDE -->
      <div class="flex-grow-1 pl-lg-4 xs-px-0">
        <div class="text-center mb-4 buttons d-flex align-items-center justify-content-center xs-between">
          @if (!["3","4","8"].includes(id)) {
          <button type="button"
            class="btn py-2 px-2 mr-1  {{activeTab=='auction' || activeTab=='hiring'?'text-white bg-dark':'border-1'}}"
            (click)="handleTab(id==7?'hiring':'auction')"> {{id ==7?'Hiring':'Auction Products'}}</button>
          }
          <button type="button"
            class="btn py-2 px-2 {{activeTab=='featured' || activeTab=='looking'?'bg-dark text-white':'border-1'}}"
            (click)="handleTab(id == 7?'looking':'featured')">{{id == 7?"Looking":'Feature Products'}}</button>
        </div>
         
        <div class="w-100 product-main mt-4">

        
          @if(loading){ @for(data of [1,2,3,4,5,6,7,8,9];track $index){
          <div class="m-1 p-0 border-1 rounded-2 shimmer-card">
            <app-card-shimmer />
          </div>

          } }@else if( data.length == 0) {

          <p class="no-data-found">No Data Found</p>
          }@else { @for (post of data; track $index) {
          <div class="product-card">
            <app-product-card [postData]="post" postDetialUrl="product-detail" />
          </div>
          } }
        </div>
        
        <div class="text-center my-5" *ngIf="data.length > 10">
          <button class="btn load-more-btn fs-18 fw-semibold">Load more</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</main>
<!-- END  BY BILAL -->