<section>
    <div class="row align-items-center justify-content-center mb-5">
        <i class="fas fa-shopping-cart fs-20 mr-2"></i>
        <h1 class="m-0 fs-28 fw-bold">
            Purchases & Sales
        </h1>
    </div>
    <hr />
    <div>
        <div class="pt-2 pb-4">
            <app-tab [tabs]="tabs" (getTab)="getTab($event)" [activeTab]="activeIndex" />
        </div>
        <div class="d-flex justify-content-end">
            <Button (click)="navigateToCheckout()" class="btn bg-yellow-700 p-2">Checkout</Button>
        </div>
        <div *ngIf="data?.length && !loading" class="border">
            
            <div class="card-container py-3" style="cursor: pointer;" tabindex="0" *ngFor="let post of this.data">
                <div class="z-0 position-relative"
                    style="width: 115px; height: 115px; border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 2px;">
                    <img alt="Item Image" loading="lazy" class="w-100 h-100" style="border-radius: 10px;"
                    src="{{
                        post.photos && post.photos.length > 0
                          ? post.photos[0].url
                          : 'assets/images/default-img.jpg'
                      }}">
                    <div
                        class="text-white pl-1 pr-1 price-tag py-1 rounded d-flex align-items-center justify-content-center z-1">
                        {{
                            formatPrice(
                            post?.auction_initial_price
                            ? post?.auction_initial_price
                            : post.fix_price
                            )
                            }} </div>
                </div>
                <div class="ml-3 flex-grow-1 custom-margin-left">
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="card-title">{{post.title}}</span>
                        <span class="view-count" *ngIf="activeTab==='selling'">{{post.views.total_views}} Views</span>
                    </div>
                    <div class="d-flex justify-content-start align-items-center" *ngIf="activeTab==='selling'">
                        <div class="avatars d-flex">
                            <img *ngFor="let avatar of post.views.users" [src]="avatar?.user?.img ?avatar?.user?.img:'/assets/images/profile-placeholder.png'" [alt]="avatar.alt">
                        </div>
                    </div>                    
                    <div class="action-text" *ngIf="activeTab==='selling'" >
                       <span (click)="markAsSold(post)">Sell faster</span> 
                        <span>|</span>
                        <span class="mark-as-sold" style="cursor: pointer;" (click)="markAsSold(post)">Mark as sold</span>
                        <span>|</span>
                        <a class="text-decoration-none text-dark fw-semibold ml-2" [routerLink]="['/profil/add-post']" [queryParams]="{ id: post.id }">
                            <i class="bi bi-pencil-fill me-1"></i> Edit
                        </a>
                        <span>|</span>
                        <button class="delete-icon btn border-0" (click)="openDialog(post.id)">
                            <i class="bi bi-trash-fill me-1"></i> Delete
                        </button>
                        <div>
                            <label for="payment">Select for Boost</label>
                            <input type="radio" class="w-20" name="payment"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="loading"><app-shimmer-design /></div>
        <div class="mt-4">
            <app-notfound [data]="notfoundData" *ngIf="!data?.length && !loading" />
        </div>
    </div>
</section>