<div style="position: relative; height: 250px; width: 100%;">
  <!-- Search Box for Autocomplete -->
  <input #searchBox type="text" placeholder="Search location" style="width: 45%; padding: 10px; margin-bottom: 10px; border-radius: 4px;left: 31%;">

  <google-map
    height="100%"
    width="100%"
    [center]="center"
    [zoom]="zoom"
  >
    <map-marker
      [position]="markerPosition"
      [options]="markerOptions"
      (mapDragend)="onMarkerDragEnd($event)"
    ></map-marker>
  </google-map>

  <!-- Custom Overlay Div positioned inside the map with an Image -->
  <!-- <div style="position: absolute; bottom: 0px; left: 5%; transform: translateX(-50%); border-radius: 4px; font-size: 14px; text-align: center;">
    <img src="/assets/images/logo.svg" alt="Location Image" style="max-width:65px; border-radius: 4px;">
  </div> -->
</div>

<div >
  <p style="margin-top:20px;">Address: {{ address }}</p>
</div>