<div style="position: relative; height: 250px; width: 100%;">
  <!-- Google Map Component -->
  <google-map
    height="100%"
    width="100%"
    [center]="center"
    [zoom]="zoom"
  >
    <map-marker
      #marker
      [position]="markerPosition"
      [options]="markerOptions"
      (mapDragEnd)="onMarkerDragEnd($event)"
    ></map-marker>
  </google-map>

  <!-- Custom Overlay Div positioned inside the map with an Image -->
  <div class="logo-for-map">
    <img src="/assets/images/LOGO.png" alt="Location Image" style="max-width:65px; border-radius: 4px;">
  </div>
</div>
