<form [formGroup]="addProductForm" class="post-form-container">
  <div class="row align-items-center justify-content-center margin-top-right-side-class">
    <i class="fas fa-plus-circle title-icon mr-2"></i>
    <h3 class="right-side-top-title mt-1">{{id?'Edit Product':'Add Product'}}</h3>
  </div>
  <hr />
  <div class="row r-gap-20">
    <div *ngIf="selectedFiles.length > 0" class="row mx-0 mb-2 r-gap-10 px-2 w-100">
      <div class="image-item col-md-2 px-1 position-relative" *ngFor="let file of selectedFiles; let i = index">
        <img [src]="file.src" alt="Selected Image" class="img-thumbnail h-100 w-100" loading="lazy" />
        <button type="button"
          class="border-0 delete-btn position-absolute rounded-pill bg-danger text-white fs-20 d-flex justify-content-center"
          (click)="removeImage(i)">
          &times;
        </button>
      </div>
    </div>
    <div class="col-12" style="cursor: pointer">
      <label [htmlFor]="'fileInput'" class="fs-20 fw-semibold">Add image</label>
      <img src="assets/images/add-post-img.png" class="w-100" alt="" (click)="fileInput.click()" loading="lazy" />
      <input #fileInput type="file" (change)="onFileChange($event)
            " accept="image/png,image/jpg,image/jpeg" style="display: none" multiple />
      <div *ngIf="validationErrors['uploadImage']" class="text-danger mt-1">
        {{ validationErrors["uploadImage"] }}
      </div>
    </div>
    <div class="col-12">
      <label class="fs-20 fw-semibold">Add video</label>
      <div *ngIf="selectedVideo" class="position-relative video-wrapper">
        <video controls [src]="selectedVideo.url" class="video-thumbnail w-100"></video>
        <button class="btn btn-sm btn-danger position-absolute top-0 end-0" (click)="removeVideo()">
          &times;
        </button>
      </div>
      <div>
        <img src="assets/images/add-post-video.png" class="w-100" alt="Upload Video" (click)="videoInput.click()"
          loading="lazy" />
        <input #videoInput type="file" (change)="onVideoSelected($event)" accept="video/*" style="display: none" />
      </div>
    </div>
    <div class="col-md-6">
      <label>Title</label>
      <input type="text" class="form-control w-100 input-class-add-form" placeholder="Title" formControlName="title" />
      <div *ngIf="addProductForm.get('title')?.hasError('required') && addProductForm.get('title')?.touched"
        class="text-danger mt-1">
        Title is required.
      </div>
    </div>
    <div class="col-6">
      <label>Category<span class="text-danger"></span></label>
      <p-dropdown [options]="categories" optionLabel="name" optionValue="id" formControlName="category_id" (onChange)="getSubcategories()"
        placeholder="Select a Category" class="form-control input-class-add-form"
        [ngClass]="{ 'is-invalid': validationErrors['selectedCategoryId'] }">
      </p-dropdown>
      <div *ngIf="validationErrors['selectedCategoryId']" class="text-danger mt-1">
        {{ validationErrors["selectedCategoryId"] }}
      </div>
    </div>
    <div class="col-6">
      <label class="subcategory-label">Subcategory</label>
      <p-dropdown [options]="subCategory" optionLabel="name" optionValue="id"
        [ngClass]="{ 'is-invalid': validationErrors['selectedSubCategoryId'] }" formControlName="sub_category_id"
        placeholder="Select a Subcategory" class="form-control input-class-add-form">
      </p-dropdown>
      <div *ngIf="validationErrors['selectedSubCategoryId']" class="text-danger mt-1">
        {{ validationErrors["selectedSubCategoryId"] }}
      </div>
    </div>
    <ng-container formGroupName="attributes" *ngFor="let field of categoryFields">
      <div class="col-md-6" *ngIf="field.type === 'select'">
        <label>{{ field.label }}</label>
        <p-dropdown [options]="field.options" optionLabel="name" optionValue="id" [formControlName]="field.model"
          [style]="{ width: '100%' }" [ngClass]="{
                        'ng-invalid': addProductForm.get(['attributes', field.model])?.invalid
                      }" placeholder="Select {{ field.label }}"></p-dropdown>
        <div *ngIf="addProductForm.get(['attributes', field.model])?.hasError('required')" class="text-danger mt-1">
          {{ field.label }} is required.
        </div>
      </div>
      <div class="col-md-6" *ngIf="field.type === 'input'">
        <label class="d-block">{{ field.label }}</label>
        <input style="width: 100%;" pInputText type="text" class="attributes" [formControlName]="field.model"
          [placeholder]="field.placeholder" [ngClass]="{
                        'ng-invalid': addProductForm.get(['attributes', field.model])?.invalid
                      }" />
        <div *ngIf="addProductForm.get(['attributes', field.model])?.hasError('required')" class="text-danger mt-1">
          {{ field.label }} is required.
        </div>
      </div>
    </ng-container>
    @if (selectedCategorySlug != 'jobs') {
    <div class="col-12">
      <label>Pricing Categories</label>
      <p-dropdown [options]="pricingCategories" formControlName="product_type" optionLabel="name" optionValue="id"
        (onChange)="onProductTypeChange($event.value)" placeholder="Select a Pricing Category"
        class="input-class-add-form">
      </p-dropdown>
      <div
        *ngIf="addProductForm.get('product_type')?.hasError('product_type') && addProductForm.get('product_type')?.touched"
        class="text-danger mt-1">
        Pricing Category is required.
      </div>
    </div>
    }
    @if (productType!='featured') {
    <div class="col-md-6 ">
      <label for="startingBid">Starting Bid</label>
      <p-inputNumber class="w-100" formControlName="auction_initial_price" inputId="startingBid" mode="currency"
        currency="AED" locale="en-US" placeholder="Starting Price"></p-inputNumber>
      <div
        *ngIf="addProductForm.get('auction_initial_price')?.invalid && addProductForm.get('auction_initial_price')?.touched"
        class="text-danger">
        Starting Bid Price is required.
      </div>
    </div>
    <div class="col-md-6">
      <label for="lowestPrice">Lowest Price</label>
      <p-inputNumber class="w-100" inputId="lowestPrice" mode="currency" currency="AED" locale="en-US"
        placeholder="Lowest Price" formControlName="auction_final_price"></p-inputNumber>
      <div
        *ngIf="addProductForm.get('auction_final_price')?.invalid && addProductForm.get('auction_final_price')?.touched"
        class="text-danger">
        Lowest Price is required.
      </div>
    </div>
    <div class="col-md-6">
      <label for="startDate">Start Date </label>
      <p-calendar [readonlyInput]="true" [showIcon]="true" [minDate]="minDate" inputId="startDate"
        formControlName="auction_starting_date">
      </p-calendar>
      <div *ngIf="addProductForm.get('auction_starting_date')?.hasError('required') && addProductForm.get('auction_starting_date')?.touched"
        class="text-danger mt-1">
        Start date is required.
      </div>
      <div *ngIf="addProductForm.get('auction_starting_date')?.hasError('startDateAfterEndDate')"
        class="text-danger mt-1">
        Start date cannot be after the end date.
      </div>
    </div>
    <div class="col-md-6">
      <label for="endDate">End Date </label>
      <p-calendar [readonlyInput]="true" [showIcon]="true" [minDate]="minDate" inputId="endDate"
        formControlName="auction_ending_date"
       >
      </p-calendar>
          <div *ngIf="addProductForm.get('auction_ending_date')?.hasError('required') &&
                (addProductForm.get('auction_ending_date')?.touched || addProductForm.get('auction_ending_date')?.dirty)"
        class="text-danger mt-1">
        End date is required.
      </div>
          <div *ngIf="addProductForm.get('auction_ending_date')?.hasError('noStartDate')"
        class="text-danger mt-1">
        Please select the starting date first.
      </div>
          <div *ngIf="addProductForm.get('auction_ending_date')?.hasError('endDateBeforeStart')"
        class="text-danger mt-1">
        Ending date cannot be before the starting date.
      </div>
    </div>
    <div class="col-md-6">
      <label for="startTime">Starting Time</label>
      <p-calendar [showIcon]="true" [timeOnly]="true" dateFormat="hh:mm a"  inputId="startTime"
        formControlName="auction_starting_time" (onSelect)="onTimeChange('auction_starting_time', $event)">
        <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
          <i class="pi pi-clock pointer-events-none" (click)="clickCallBack($event)"></i>
        </ng-template>
</p-calendar>
      <div
        *ngIf="addProductForm.get('auction_starting_time')?.invalid && addProductForm.get('auction_starting_time')?.touched"
        class="text-danger mt-1">
        <ng-container *ngIf="addProductForm.get('auction_starting_time')?.hasError('required')">
          Starting time is required.
        </ng-container>
      </div>
    </div>
    <div
      [ngClass]="addProductForm.get('product_type')?.value == 'auction' || addProductForm.get('product_type')?.value== 'other' ?'col-md-6' :'col-md-6'">
      <label for="endingTime">Ending Time</label>
      <p-calendar [showIcon]="true" [timeOnly]="true" dateFormat="hh:mm a" inputId="endingTime"
        formControlName="auction_ending_time" (onSelect)="onTimeChange('auction_ending_time', $event)">
        <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
          <i class="pi pi-clock pointer-events-none" (click)="clickCallBack($event)"></i>
        </ng-template>
      </p-calendar>
      <div
        *ngIf="addProductForm.get('auction_ending_time')?.invalid && addProductForm.get('auction_ending_time')?.touched"
        class="text-danger mt-1">
        <ng-container *ngIf="addProductForm.get('auction_ending_time')?.hasError('required')">
          Ending time is required.
        </ng-container>
        <ng-container *ngIf="
      addProductForm.get('auction_ending_time')?.hasError('timeDifferenceError') &&
      addProductForm.get('auction_ending_time')?.touched
    " class="text-danger mt-1">
          Ending time must be at least 30 minutes after the starting time.
        </ng-container>
        <ng-container *ngIf="
  addProductForm.get('auction_ending_time')?.hasError('timeOrderError') &&
  addProductForm.get('auction_ending_time')?.touched
" class="text-danger">
          Ending time cannot be earlier than the starting time.
        </ng-container>
      </div>
    </div>
    }
    <div class="col-md-6" *ngIf="productType == 'featured'">
      <label for="totalPrice">Total Price</label>
      <p-inputNumber class="w-100" inputId="totalPrice" mode="currency" currency="AED" locale="en-US"
        formControlName="fix_price" placeholder="Total Price"></p-inputNumber>
      <div *ngIf="addProductForm.get('fix_price')?.invalid && addProductForm.get('fix_price')?.touched"
        class="text-danger">
        Price is required.
      </div>
    </div>
    <div class="col-12">
      <label>Description</label>
      <textarea placeholder="Description" formControlName="description" class="form-control w-100" rows="6">
          </textarea>
      <div *ngIf="addProductForm.get('description')?.touched || addProductForm.get('description')?.dirty">
        <div *ngIf="addProductForm.get('description')?.hasError('required')" class="text-danger mt-1">
          Description is required.
        </div>
        <div *ngIf="addProductForm.get('description')?.hasError('minlength')" class="text-danger mt-1">
          Description must be at least 20 characters long.
        </div>
      </div>
    </div>
    <div class="col-12">
      <app-current-location (locationChange)="handleLocationChange($event)"></app-current-location>
    </div>
    <div class="col-12">
      <button class="btn btn-dark w-100 py-15" (click)="addCompleteProduct()" [disabled]="isLoading">
        <span *ngIf="!isLoading">{{id?'Update':'Post'}}</span>
        <span *ngIf="isLoading" class="spinner-border spinner-border-sm text-light" role="status"
          aria-hidden="true"></span>
      </button>
    </div>
  </div>
</form>