::ng-deep .p-dropdown {
  width: 100%;
  padding: 7px;
  border: 2px solid #e0e0e0;
  border-radius: 2px;
}

::ng-deep .attributes.p-inputtext {
  width: 100%;
  padding: 7px;
  border: 2px solid #e0e0e0;
  border-radius: 2px;
}

::ng-deep.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  margin: 2px 0;
  padding: 0.5rem 0.75rem;
  border: 0 none;
  color: #334155;
  background: transparent;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s;
  border-radius: 4px;
}

::ng-deep .p-element {
  width: auto;
}
::ng-deep .p-dropdown-panel {
  background-color: #ffffff;
  color: #334155;
  border: 1px solid #e2e8f0;
  border-radius: 6px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

::ng-deep.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: #1D4ED8;
  background: #EFF6FF;
}

::ng-deep.p-dropdown-panel .p-dropdown-items .p-dropdown-item:hover {
  color: #ffae15;
  background: #eae7e7;
}

::ng-deep.p-dropdown .p-dropdown-label.p-placeholder {
  color: #64748b;
}

::ng-deep .p-datepicker:not(.p-datepicker-inline) {
  background: #ffffff;
  border: 1px solid #e2e8f0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

::ng-deep .p-datepicker {
  padding: 0.75rem;
  background: #ffffff;
  color: #334155;
  border-radius: 6px;
}

::ng-deep .p-calendar {
  width: 100%;
  background: #ffffff;
  border: 2px solid #e0e0e0;
}

::ng-deep.p-calendar .p-inputtext {
  flex: 1 1 auto;
  padding: 7px;
  border: none;
  text-overflow: ellipsis;
}

::ng-deep.p-inputwrapper {
  width: 100%;

}

::ng-deep.p-inputnumber {
  width: 100%;
  border: 2px solid #e0e0e0;

}

::ng-deep.p-inputnumber-input {
  padding: 7px;
  border: none;
}

::ng-deep .p-datepicker .p-datepicker-header {
  padding: 0 0 0.5rem 0;
  color: #334155;
  background: #ffffff;
  font-weight: 500;
  margin: 0 0 0 0;
  border-bottom: 1px solid #e2e8f0;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

::ng-deep.p-datepicker-month {
  background-color: transparent;
  border: none;
}

::ng-deep.p-datepicker-year {
  background-color: transparent;
  border: none;
}

::ng-deep.p-datepicker-prev {
  background-color: transparent;
  border: none;
}

::ng-deep.p-datepicker-next {
  background-color: transparent;
  border: none;
}

::ng-deep .p-datepicker table td {
  padding: 0.25rem;
}

::ng-deep.p-datepicker table {
  width: 100%;
  border-collapse: collapse;
}

::ng-deep .p-datepicker table td>span.p-highlight {
  background: #ffae15;
}

::ng-deep .p-datepicker table td>span {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s;
  border: 1px solid transparent;
}

.row.mt-3 {

  .col-6,
  .col-md-6 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    padding-left: 0;
    padding-right: 0;
  }

  .col-12.p-3 {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
  }
}

@media (max-width:576px) {
  .xs-w-100 {
    width: 100% !important;
  }

  .xs-w-fit {
    width: max-content !important;
  }

  .col-11.mx-auto {
    padding: 0;
    max-width: 100%;
    margin: 0;
    flex: 0 0 100%;
  }

  .col-9.mx-auto.text-center,
  .col-5.mt-4.mx-auto.text-center {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .col-5.mt-4.mx-auto.text-center {
    span {
      display: block;
    }
  }

  .col-xl-4.col-md-5.position-relative,
  .col-12.mx-auto {
    padding-left: 0;
    padding-right: 0;

    img {
      margin-left: 0 !important;
    }
  }

  .col-xl-7.col-md-7 {
    padding-left: 0;
    padding-right: 0;

    .row {
      margin-left: 0;
      margin-right: 0;

      .col-12 {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .row.mt-3 {

    .col-6,
    .col-md-6 {
      flex: 0 0 100% !important;
      max-width: 100% !important;
      padding-left: 0;
      padding-right: 0;
    }

    .col-12.p-3 {
      padding-left: 0 !important;
      padding-right: 0 !important;
      padding-top: 0 !important;
    }
  }

  .categoryFields {
    display: block !important;
  }

  .xs-pt-4 {
    padding-top: 20px;
  }
  .col-md-7 {
    padding-left: 0;
    padding-right: 0;

    .col-md-11.mx-auto,
    .col-md-10.mx-auto.mt-3 {
      padding-left: 0;
      padding-right: 0;
    }

    .col-md-10.mx-auto {
      padding-left: 0;
      padding-right: 0;
    }

    .sidebar-content {
      padding-left: 0;
      padding-right: 0;
      width: 100%;

      .col-md-10.mx-auto {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .row.margin-top-class {
    .col-12 {
      padding-left: 0 !important;
      padding-right: 0 !important;

      .col-md-6.col-10,
      .col-2.d-flex {
        padding-left: 0 !important;
        padding-right: 0 !important;

        .col-2.d-flex.align-content-center {
          padding-left: 0;
        }
      }

    }
  }
}
::ng-deep .p-disabled, .p-disabled  {
  cursor:not-allowed !important;
  color: #768379;
}
.r-gap-20 {
  row-gap: 20px;
}

.image-item {
  min-height: 100px;
  max-height: 100px;
}

.delete-btn {
  width: 20px;
  height: 20px;
  top: -4px;
  right: 0px;
  line-height: 17px;
}
.r-gap-10{
  row-gap: 10px;
}
.video-upload-container {
  margin-top: 20px;
}

.video-wrapper {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.video-thumbnail {
  width: 100%;
  height: auto;
  max-height: 270px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.position-relative {
  position: relative;
}

.btn-danger {
  background-color: #ff4d4d;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  color: white;
  cursor: pointer;
}

.btn-danger:hover {
  background-color: #ff1a1a;
}