.category-list {
  a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    color: #222;
    &:hover {
      text-decoration: none;
    }

    span {
      min-width: 88px;
      line-height: 1.2;
    }
  }
  img{
    width: 80px;
    height: 80px;
  }

}




@media (min-width: 576px) {
  .col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 768px) {
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
}

@media (min-width: 1250px) {
  .col-xl-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
}

@media (max-width:768px) {
  .xs-mw-20 {
    min-width: 20%;
  }

  .xs-flex-nowrap {
    flex-wrap: nowrap !important;
  }
  .category-list {
    a {  
      font-size: 11px;
      span {
        min-width: 50px;
      }
    }
  
  }
}

.disabled-link {
  pointer-events: none;
  cursor: not-allowed;
}
