// Variables
$gap: 22px;
$card-bg: #fff;
$card-border-radius: 8px;
$shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$hover-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
$transform-distance: -5px;

// Breakpoints
$breakpoint-xs: 576px;
$breakpoint-mobile: 768px;
$breakpoint-tablet: 992px;
$breakpoint-desktop: 1200px;

// Mixin for card layout
@mixin card-layout($flex-basis) {
  flex: 1 1 calc(#{$flex-basis} - #{$gap});
  max-width: calc(#{$flex-basis} - #{$gap});
}

// Styling
.product-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: $gap;
  @media (min-width: $breakpoint-desktop) {
    max-width: $breakpoint-desktop;
    margin: 0 auto; // Center on larger screens
  }
}

// Common card styles
.product-card,
.shimmer-card {
  border-radius: $card-border-radius;
}

// For screens below 576px - 1 card per row
@media (max-width: $breakpoint-xs) {
  .product-card, .shimmer-card {
    @include card-layout(calc(100% + 22px) );
  }
}

// For screens below 768px (mobile) - 2 cards per row
@media (min-width: $breakpoint-xs) and (max-width: $breakpoint-mobile) {
  .product-card, 
  .shimmer-card {
    @include card-layout(calc(50% + 22px));
  }
  .product-main {
    gap: 12px;
  }
}

// For screens 768px and above - 3 cards per row
@media (min-width: $breakpoint-mobile) {
  .product-card, .shimmer-card {
    @include card-layout(33.333%);
  }
  .product-main {
    gap: 31px;
  }
}

// For screens 992px and above (tablet and up) - 3 cards per row
@media (min-width: $breakpoint-tablet) {
  .product-card, .shimmer-card {
    @include card-layout(25%);
  }
  .product-main {
    gap: 29px;
  }
}
